
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="jumbotron">
        <h1>Library</h1>
        <p class="lead">Welcome to your library managment WebApp !</p>
        <p class="lead">Here you can see, add, modify and delet all the books you have.</p>
        <p><a href="/book" title="Back to site" class="btn btn-primary btn-lg">Start !</a></p>
    </div></body>
</html>
